<div [class]="'toast ' + toast?.style" *ngFor="let toast of _toastList">
  <img *ngIf="toast.img && toast.style !== 'loading'" class="toastImg" [src]="toast.img" alt=" ">
  <img *ngIf="!toast.img && toast.style !== 'loading'" class="toastLogo" src="/assets/favicon6.png" alt="">
  <!-- <div class="spinner" *ngIf="toast.style === 'loading'">
    <i class="fas fa-spinner"></i>
  </div> -->
  <div class="planet" *ngIf="toast.style === 'loading'">
    <img src="/assets/landing/service-loading-animation.gif" alt="">
  </div>
  <i (click)="removeToast(toast)" *ngIf="toast?.close || !toast?.time" class="close fas fa-times"></i>

  <div class="discord-body" (click)="openLink(toast.link)">
    <h6>{{toast.content | translate}}</h6>
    <p>{{toast.sub | translate}}</p>
    <div *ngIf="toast?.html" [innerHTML]="toast?.html"></div>
  </div>
</div>

<audio #AudioManager>
  <source src="/assets/sounds/Vibrant_Game__Game_Touch_3.mp3" type="audio/mpeg ">
</audio>
