:host {
  position: fixed;
  bottom: 21px;
  left: 24px;
  z-index: 10000000;
  display: flex;
  flex-flow: column;
  .toast {
    margin-top: 15px;
    width: 380px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s;
    color: #fff !important;
    text-decoration: none !important;
    animation-name: ToastAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    padding-left: 85px;
    position: relative;
    float: left;
    background: #1f1f1f;
    min-height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.4);
    //padding: 20px 0;
    &.min {
      //height: 50px; //background: #ff8700;
      padding: 3px 15px;
      min-height: 50px;
      background: linear-gradient(120deg, #e51515, #f85710);
      h6 {
        margin: 0;
        color: #fff;
        text-transform: initial;
      }
      img,
      .spinner {
        display: none;
      }
    }
    .close {
      cursor: pointer;
      text-shadow: none;
      color: #fff;
      position: absolute;
      font-size: 16px;
      top: 5px;
      right: 5px;
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.1);
      }
    }
    .toastImg {
      height: 100%;
      background: linear-gradient(120deg, #e51515, #f85710);
      width: 75px;
      object-fit: contain;
      padding: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .toastLogo {
      height: 100%;
      background: #0e0300;
      width: 75px;
      object-fit: contain;
      padding: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .planet {
      margin-bottom: 20px;
      position: absolute;
      left: 0;
      top: 0;
      width: 85px;
      height: 90px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .spinner {
      height: 100%;
      background: #222;
      width: 75px;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 34px;
      i {
        animation: spin 1s linear infinite;
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    .discord-body {
      padding: 10px 15px;
      text-decoration: none;
      color: #fff !important;

      h6 {
        padding: 0 !important;
        color: #fff !important;
        font-size: 16px !important;
      }
      p {
        font-size: 11px;
        margin: 0;
        opacity: 0.4;
        font-weight: normal;
      }
    }
  }
  @keyframes ToastAnimation {
    from {
      opacity: 0;
      left: -250px;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
}
@keyframes spaceShip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
