@import 'colors.scss';
@import 'media-queries';

:host {
  background-position: 0 80px;
  float: left;
  width: 100%;

  .header {
    padding: 0 30px 30px;
  }
  .features {
    margin-bottom: 220px;
    .col-3,
    .col-4 {
      padding: 0 30px 70px;
      img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
      }
      i {
        background: #1ab99b;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 100%;
        margin-bottom: 16px;
      }
      h3 {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #32325d;
      }
      p {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #525f7f;
      }
    }
  }
}
