<section class="features">
  <div class="container ">
    <div class="row">
      <!-- <div class="col-12 header"><h2 translate>@@Features@@Features</h2></div> -->
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature1</h3>
        <p translate>@@Features@@Feature1P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature2</h3>
        <p translate>@@Features@@Feature2P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature3</h3>
        <p translate>@@Features@@Feature3P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature4</h3>
        <p translate>@@Features@@Feature4P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature5</h3>
        <p translate>@@Features@@Feature5P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature6</h3>
        <p translate>@@Features@@Feature6P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature7</h3>
        <p translate>@@Features@@Feature7P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature8</h3>
        <p translate>@@Features@@Feature8P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature9</h3>
        <p translate>@@Features@@Feature9P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature10</h3>
        <p translate>@@Features@@Feature10P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature11</h3>
        <p translate>@@Features@@Feature11P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature12</h3>
        <p translate>@@Features@@Feature12P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature13</h3>
        <p translate>@@Features@@Feature13P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature14</h3>
        <p translate>@@Features@@Feature14P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature15</h3>
        <p translate>@@Features@@Feature15P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature16</h3>
        <p translate>@@Features@@Feature16P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature17</h3>
        <p translate>@@Features@@Feature17P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature18</h3>
        <p translate>@@Features@@Feature18P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature19</h3>
        <p translate>@@Features@@Feature19P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature20</h3>
        <p translate>@@Features@@Feature20P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature21</h3>
        <p translate>@@Features@@Feature21P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature22</h3>
        <p translate>@@Features@@Feature22P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature23</h3>
        <p translate>@@Features@@Feature23P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature24</h3>
        <p translate>@@Features@@Feature24P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature25</h3>
        <p translate>@@Features@@Feature25P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature26</h3>
        <p translate>@@Features@@Feature26P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature27</h3>
        <p translate>@@Features@@Feature27P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature28</h3>
        <p translate>@@Features@@Feature28P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature29</h3>
        <p translate>@@Features@@Feature29P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature30</h3>
        <p translate>@@Features@@Feature30P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature31</h3>
        <p translate>@@Features@@Feature31P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature32</h3>
        <p translate>@@Features@@Feature32P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature33</h3>
        <p translate>@@Features@@Feature33P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature34</h3>
        <p translate>@@Features@@Feature34P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature35</h3>
        <p translate>@@Features@@Feature35P</p>
      </div>
      <div class="col-4">
        <img alt="" src="assets/image1.jpg" />
        <h3 translate>@@Features@@Feature36</h3>
        <p translate>@@Features@@Feature36P</p>
      </div>
    </div>
  </div>
</section>
