<div class="wrapper" [style.height]="height">
  <div class="planet">
    <img src="/assets/landing/service-loading-animation.gif" alt="">
    <div class="msg" *ngIf="!message">
      {{ '@@Loader@@Loading' | translate}} {{item}}...
    </div>
    <div class="msg" *ngIf="message">
      {{message | translate}}...
    </div>
  </div>
</div>
