@import 'colors.scss';
@import 'media-queries';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: column;

    .planet {
      margin-bottom: 20px;
      position: relative;
      transform: scale(0.8);
      display: flex;
      align-items: center;
      flex-flow: column;
      @media #{$phone} {
        transform: scale(1);
        width: 100%;
        flex-flow: column-reverse;
      }
      img {
        transform: scale(0.8);
        @media #{$phone} {
          transform: scale(1);
          width: 100%;
        }
      }
      .msg {
        padding-top: 10px;
        font-size: 32px;
        opacity: 0.8;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        @media #{$phone} {
          width: 90%;
          margin: 40px 5% 50px;
          text-align: center !important;
          font-size: 28px;
          font-weight: 900;
          line-height: 44px;
          letter-spacing: 3px;
        }
      }
    }
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  @keyframes spaceShip {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
