:host {
  .gradient {
    position: absolute;
    z-index: 0;
    height: 80vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: url(/assets/landing/mainBg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .container {
    margin-bottom: 200px;
    .row-main {
      margin-top: 30px;
    }
    .logo-1 {
      border: 2px solid #323232;
      border-radius: 4px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      background-image: linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919),
        linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919);
      background-position: 0 0, 30px 30px;
      background-size: 20px 20px;
      padding: 75px;
      &.white {
        background-color: #fff;
        background-image: linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6),
          linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .logo-2 {
      border: 2px solid #323232;
      border-radius: 4px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      background-image: linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919),
        linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919);
      background-position: 0 0, 30px 30px;
      background-size: 20px 20px;
      height: 100px;
      &.white {
        background-color: #fff;
        background-image: linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6),
          linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6);
      }
      img {
        width: 234px;
      }
    }
    .logo-3 {
      border: 2px solid #323232;
      border-radius: 4px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      background-image: linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919),
        linear-gradient(45deg, #191919 25%, transparent 0, transparent 75%, #191919 0, #191919);
      background-position: 0 0, 30px 30px;
      background-size: 20px 20px;
      &.white {
        background-color: #fff;
        background-image: linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6),
          linear-gradient(45deg, #f6f6f6 25%, transparent 0, transparent 75%, #f6f6f6 0, #f6f6f6);
      }
      img {
        height: 100px;
      }
    }
    .color {
      height: 100px;
      padding: 6px;
      background-color: #ffc107;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 255, 255, 0.8);
      font-weight: bold;
      b {
        margin-left: 3px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.streamer-mode {
  background: #171220;
  padding: 70px 0;
  margin-top: 120px;
  background: #201f26;
  background: linear-gradient(60deg, #e51515, #f85710);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 0;
    /deep/h2 {
      color: #fff;
      /* letter-spacing: 0.025em;
      line-height: 1.2em;
      font-family: LeviReBrushed;
      font-weight: 800;
      text-transform: uppercase; */
      font-size: 30px;
      font-weight: 800;

      text-align: center;
      b {
        color: #6341a5;
        color: #060400;
      }
    }
    .btn {
      position: relative;
      background: #ffffff00;
      font-size: 16px;
      font-weight: bold;
      justify-content: center;
      /* border: 2px solid white !important; */
      height: 50px;
      width: 500px;
      margin-top: 30px;
      text-transform: uppercase;
      background: linear-gradient(60deg, #6341a5, #8654e0);
      color: #060400 !important;
      background: #fff !important;
    }
  }
}
