<!-- <div class="gradient"></div>
 -->
<div class="container">

  <div class="row">
    <div class="col-12 header-title">
      <h3>
        {{ "@@Branding@@Brand" | translate}}
      </h3>
      <p>
        {{ "@@Branding@@BrandDesc" | translate }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h6>
        {{ "@@Branding@@Logos" | translate }}
      </h6>
    </div>
    <div class="col-12">
      <div class="logo-1 white">
        <img src="/assets/logo.png" alt="">
      </div>
    </div>

    <div class="col-6">
      <div class="logo-3 white">
        <img src="/assets/logoMin.png" alt="">
      </div>
    </div>

    <div class="col-6">
      <div class="logo-3 white">
        <img src="/assets/logoMinColor.png" alt="">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <h6>
        {{ "@@Branding@@Colors" | translate }}
      </h6>
    </div>
    <div class="col-3">
      <div class="color" style="background: #FF0F50">
        #
        <b>FF0F50</b>
      </div>
    </div>

    <div class="col-3">
      <div class="color" style="background: #FFD514">
        #
        <b>572c25</b>
      </div>
    </div>
    <div class="col-3">
      <div class="color" style="background: #1AB99B">
        #
        <b>1AB99B</b>
      </div>
    </div>
    <div class="col-3">
      <div class="color" style="background: #FFFFFF">
        #
        <b>FFFFFF</b>
      </div>
    </div>
  </div>
</div>

<!-- <div class="streamer-mode">
  <div class="container">
    <h2 [innerHTML]="'@@Landing@@CallToAction2' | translate"></h2>
    <div class="btn btn-primary" routerLink="/landing-stream">
      {{ '@@Landing@@StreamerModeBtn2' | translate}}
    </div>
  </div>
</div> -->
