@import 'colors.scss';
@import 'media-queries';
:host {
  .main-section {
    margin-top: -160px;
    padding-top: 220px;
    background-color: #000;
    background: url(/assets/landing/bgF4.png);
    background-size: contain;
    background-repeat: repeat;
    margin-bottom: 200px;
    @media #{$phone} {
      margin-top: 0px;
      padding: 0;
      background-size: cover;
    }

    .container {
      min-height: calc(100vh - 500px);
      position: relative;

      .discord {
        margin-top: 25px;
        background-color: #7289da;
        border-bottom: 3px solid #55649c !important;
        letter-spacing: 2px;
        padding: 3px 30px 3px 15px;
        img {
          height: 30px;
          margin-right: 10px;
        }
      }
    }
    .desc {
      margin-bottom: 40px;
      h2 {
        font-size: 40px;
        line-height: 55px;
        font-weight: 800;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 7.5px;
        position: relative;
        @media #{$phone} {
          margin-top: 100px;
          text-align: center !important;
          font-size: 36px;
          font-weight: 900;
          line-height: 44px;
          letter-spacing: 3px;
        }
      }
      h4 {
        opacity: 0.6;
        font-size: 16px;
      }
      small {
        margin-top: 10px;
        font-size: 10px;
        opacity: 0.8;
      }
    }
    .app-img {
      padding-right: 30px;
      img {
        width: 100%;
        object-fit: contain;
        border-radius: 6px;
        //box-shadow: 0 0 40px 10px #ff4d361c;
        /* border-radius: 10px;
        border: 3px solid #4a2621;
        object-fit: cover; */
      }
    }
  }
}
