<div class="row">
  <div class="col-4" *ngFor="let product of (_productList | async)">
    <div class="card">
      <img class="card-img-top" [src]="product.img" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <button (click)="stripeModal.open()" class="btn btn-primary" style="float:right">{{ product.price }} <b>$</b></button>
      </div>
    </div>
  </div>
</div>
<dixper-modal-stripe #stripeModal></dixper-modal-stripe>
