@import 'colors.scss';
@import 'media-queries';

:host {
  background-position: 0 80px;
  float: left;
  width: 100%;

  .header {
    padding: 0 30px 30px;
  }
  .features {
    padding: 0 30px;
    margin-bottom: 220px;
    h3 {
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 19px;
      line-height: 28px;
      color: #32325d;
    }
    b {
      font-size: 17px;
      line-height: 28px;
      color: #525f7f;
      font-weight: bold;
    }
    ul {
      li {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #525f7f;
      }
    }
  }
}
