<section class="features">
  <div class="container ">
    <div class="row">
      <!-- <div class="col-12 header"><h2 translate>@@Features@@Features</h2></div> -->
      <div class="col-12">
        <h3>@@Requirements@@Minimum</h3>
        <ul>
          <li>Windows 7 64-bit or better</li>
          <li>2 cores CPU or better</li>
          <li>4 GB of RAM or better</li>
          <li>1GB available disk space</li>
          <b>@@Requirements@@NvidiaGPU</b>
          <li>Kepler architecture minimum</li>
          <li>GeForce 700 series or better</li>
          <li>Quadro K series or better</li>
          <li>Tesla K series or better</li>
          <li>NVIDIA graphics driver v388</li>
        </ul>

        <h3 style="margin-top:40px">@@Requirements@@Recommended</h3>
        <ul>
          <li>Windows 10 64-bit</li>
          <li>16GB of RAM</li>
          <li>4GB available disk space</li>
          <b>@@Requirements@@NvidiaGPU</b>
          <li>NVIDIA GeForce series 1000 and better</li>
          <li>NVIDIA Quadro series P and better</li>
          <li>NVIDIA Tesla series P and better</li>
          <li>Latest NVIDIA graphics driver available</li>
        </ul>
      </div>
    </div>
  </div>
</section>
