@import 'colors.scss';
@import 'media-queries';

:host {
  float: left;
  width: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  //background-color: #f8f9fa;
  .container {
    // border-top: 2px solid #f3f5f9;
    // margin-top: 50px;
  }
  .languageMenu {
    z-index: 10;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 5px 0;
    top: 30px;
    list-style: none;
    display: flex;
    flex-flow: column;
    bottom: 60px;
    top: auto;
    &:before {
      content: ' ';
      width: 15px;
      height: 15px;
      position: absolute;
      background: #fff;
      bottom: -5px;
      transform: rotateZ(45deg);
      border-radius: 3px;
      left: 20px;
      z-index: -1;
    }

    li {
      padding: 0 10px;
      cursor: pointer;
      transition: 0.15s;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(14, 14, 14, 0.1);
      }

      span {
        margin-left: 10px;
      }
      img {
        width: 100%;
        margin: 10px 0;
        width: 30px;
      }
    }
  }

  .row {
    padding: 0 0 50px;
    position: relative;
    &.minimal {
      padding: 0 0 10px !important;
      * {
        color: #fff !important;
      }
      > img {
        display: none;
      }
    }
    .footer-brush {
      background: $bg-terciary;
      margin-bottom: 50px;
    }
    .col-md-12 {
      text-align: center;
      &.copy {
        color: rgba(0, 0, 0, 0.3);
        font-size: 13px;
      }
      &.logo {
        img {
          height: 60px;
          opacity: 1;
          margin: 30px 0;
          border-radius: 4px;
        }
      }
      ul {
        margin-top: 30px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          padding: 0 20px;
          border-right: 1px solid rgba(0, 0, 0, 0.3);
          cursor: pointer;
          font-size: 12px;
          text-transform: uppercase;
          &:last-of-type {
            border: none;
          }
          a {
          }
        }
        @media #{$phone} {
          flex-flow: column;
          li {
            border-right: none;
            margin-bottom: 10px;
          }
        }
      }
    }
    .version {
      position: absolute;
      bottom: 10px;
      right: 40px;
      opacity: 0.4;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
