<div class="container">
  <div class="row" [class.minimal]="minimal">
    <div class="col-md-12 logo" *ngIf="!minimal"><img src="/assets/logoMinColor.png" alt="" /></div>
    <div class="offset-1 col-10 offset-md-0 col-md-12 copy">
      {{ '@@Footer@@Copy1' | translate }} <br />
      {{ '@@Footer@@Copy2' | translate }}
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <ul>
        <li>
          <a routerLink="team">{{ '@@Footer@@Team' | translate }}</a>
        </li>
        <li>
          <a routerLink="branding"> {{ '@@Footer@@Brand' | translate }} </a>
        </li>
        <!-- <li routerLink="/investor" style="opacity: .5;pointer-events: none;">{{'@@Footer@@Investor' | translate}}</li> -->
        <!-- <li routerLink="/releases">{{'@@Footer@@Changelog' | translate}}</li> -->
        <li>
          <a routerLink="privacy">{{ '@@Footer@@Privacy' | translate }}</a>
        </li>
        <li>
          <a routerLink="terms">{{ '@@Footer@@Terms' | translate }}</a>
        </li>
        <li routerLink="faq">
          <a routerLink="faq">{{ '@@Footer@@Faq' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="version">v{{ _version }}</div>
  </div>
</div>
