<!-- <div class="modal" [@modalAnimation]='_state'>
  <div [hidden]="_state !== 'open'" [@modalBgAnimation]='_state' (click)="close()" class="modal-bg"></div>
  <div [hidden]="_state !== 'open'" [@modalMenuAnimation]='_state' class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="cell example example1">
          <form #checkout="ngForm" class="checkout">
            <fieldset>
              <div class="row">
                <label for="example1-name" data-tid="elements_examples.form.name_label">Name</label>
                <input id="example1-name" data-tid="elements_examples.form.name_placeholder" type="text" placeholder="Jane Doe"
                  required="" autocomplete="name">
              </div>
              <div class="row">
                <label for="example1-email" data-tid="elements_examples.form.email_label">Email</label>
                <input id="example1-email" data-tid="elements_examples.form.email_placeholder" type="email" placeholder="janedoe@gmail.com"
                  required="" autocomplete="email">
              </div>
              <div class="row">
                <label for="example1-phone" data-tid="elements_examples.form.phone_label">Phone</label>
                <input id="example1-phone" data-tid="elements_examples.form.phone_placeholder" type="tel" placeholder="(941) 555-0123"
                  required="" autocomplete="tel">
              </div>
            </fieldset>
            <fieldset>
              <div class="row">
                <div #cardForm id="example1-card"></div>
              </div>
            </fieldset>
            <button type="submit" data-tid="elements_examples.form.pay_button">Pay $25</button>
            <div class="error" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
              </svg>
              <span class="message"></span></div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal" tabindex="-1" role="dialog" [@modalAnimation]='_state'>
  <div [hidden]="_state !== 'open'" [@modalBgAnimation]='_state' (click)="close()" class="modal-bg"></div>
  <div [hidden]="_state !== 'open'" [@modalMenuAnimation]='_state' class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/charge" method="post" (submit)="handleForm($event)">

        <!-- <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->

        <div class="modal-body">
          <div class="row">
            <div class="col-4 product-resume">
              <div class="price">
                19.99 <b>$</b>
              </div>
              <img _ngcontent-c5="" alt="Card image cap" class="card-img-top" src="https://maverickrender.com/assets/gorilla.png">
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="example1-name" data-tid="elements_examples.form.name_label">Name</label>
                <input class="form-control" id="example1-name" data-tid="elements_examples.form.name_placeholder" type="text"
                  placeholder="Jane Doe" required="" autocomplete="name">
              </div>

              <div class="form-group">
                <label for="example1-email" data-tid="elements_examples.form.email_label">Email</label>
                <input class="form-control" id="example1-email" data-tid="elements_examples.form.email_placeholder"
                  type="email" placeholder="janedoe@gmail.com" required="" autocomplete="email">
              </div>

              <div class="form-group">
                <label for="example1-phone" data-tid="elements_examples.form.phone_label">Phone</label>
                <input class="form-control" id="example1-phone" data-tid="elements_examples.form.phone_placeholder"
                  type="tel" placeholder="(941) 555-0123" required="" autocomplete="tel">
              </div>

              <div class="form-group">
                <label for="example1-phone" data-tid="elements_examples.form.phone_label">Phone</label>
                <div style="padding: 10px;" class="form-control" #cardForm></div>
              </div>

              <small>
                Al hacer clic en "Completar compra" aceptas las Condiciones de venta y la Política de privacidad de
                Twitch. El método de pago se guardará para futuras compras y pagos de suscripciones recurrentes, si se
                aplica.
              </small>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>