@import 'colors.scss';

:host {
  z-index: 1000000000000;
  position: relative;

  .modal {
    display: flex;
    align-items: center;

    .modal-bg {
      opacity: 0;
      position: fixed;
      height: 100vh;
      width: 100vw;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-body {
      display: flex;
      height: 100%;
      flex-flow: column;
      padding: 0;
    }

    .modal-dialog {
      opacity: 0;
      /* left: calc(50vw - 300px);
      top: calc(50vh - 160px);
      height: 320px;
      width: 600px; */
      height: auto !important;
      max-width: 2000px;
      width: 700px;

      .modal-content {
        overflow: hidden;

        h2 {
          text-align: center;
          font-size: 22px;
          margin: 10px;
        }

        h5 {}

        label {
          color: #6a757e;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: inherit;
          font-weight: 600;
          margin: 0;
        }

        small {
          line-height: 14px;
          font-size: 10px;
          display: flex;
          padding: 0 0 20px;
        }

        .col-8 {
          padding: 20px 40px 0 20px;
        }

        .product-resume {
          overflow: hidden;
          top: 0;

          .price {
            position: relative;
            z-index: 10;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 2px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            height: 100%;
            width: 100%;
            border-radius: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }
}