<section class="main-section">
  <div class="bg">
    <div class="gradient"></div>
    <img src="assets/image1.jpg" alt="" />
  </div>

  <div class="container">
    <div class="col-10">
      <div class="panel">
        <section class="slogan">
          <h2 translate>@@Landing@@Slogan1</h2>
          <p [innerHTML]="'@@Landing@@Slogan1P' | translate"></p>
        </section>
        <div routerLink="features" class="details d-none d-md-flex flex-column-reverse flex-sm-row justify-content-end align-items-center">
          @@Landing@@FullFeatures<i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="swipe"><img class="swipe1" src="/assets/landing/swipe1.PNG" alt="" /> <img class="swipe2" src="/assets/landing/swipe2.PNG" alt="" /></div>
</section>

<section class="features">
  <div class="container ">
    <div class="row">
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature1</h3>
        <p translate>@@Landing@@Feature1P</p>
      </div>
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature2</h3>
        <p translate>@@Landing@@Feature2P</p>
      </div>
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature3</h3>
        <p translate>@@Landing@@Feature3P</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature4</h3>
        <p translate>@@Landing@@Feature4P</p>
      </div>
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature5</h3>
        <p translate>@@Landing@@Feature5P</p>
      </div>
      <div class="col-4">
        <i class="fas fa-anchor"></i>
        <h3 translate>@@Landing@@Feature6</h3>
        <p translate>@@Landing@@Feature6P</p>
      </div>
    </div>
  </div>
</section>

<section class="key-features">
  <div class="bg"></div>
  <div class="container">
    <h2 class="text-center" translate>@@Landing@@KeyFeatures</h2>
    <div class="row">
      <div class="col-6">
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@KeyFeature1</h3>
          <p translate>@@Landing@@KeyFeature1P</p>
        </div>
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@KeyFeature2</h3>
          <p translate>@@Landing@@KeyFeature2P</p>
        </div>
      </div>
      <div class="col-6"><img class="tall" alt="" src="assets/image1.jpg" /></div>
      <div class="col-6">
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@KeyFeature3</h3>
          <p translate>@@Landing@@KeyFeature3P</p>
        </div>
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@Feature4</h3>
          <p translate>@@Landing@@Feature4P</p>
        </div>
      </div>
      <div class="col-6">
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@Feature5</h3>
          <p translate>@@Landing@@Feature5P</p>
        </div>
        <div class="feature">
          <i class="fas fa-anchor"></i>
          <h3 translate>@@Landing@@Feature6</h3>
          <p translate>@@Landing@@Feature6P</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-4"><img class="tall" alt="" src="assets/image1.jpg" /><img alt="" src="assets/image1.jpg" /></div>
      <div class="col-4">
        <div class="title">
          <i class="fas fa-anchor"></i>
          <h2 translate>@@Landing@@Showcase</h2>
        </div>
        <img alt="" src="assets/image1.jpg" /> <img alt="" src="assets/image1.jpg" /> <img alt="" src="assets/image1.jpg" />
      </div>
      <div class="col-4"><img style="margin-top:150px;" alt="" src="assets/image1.jpg" /> <img class="medium" alt="" src="assets/image1.jpg" /></div>
    </div>
  </div>
</section>
