@import 'colors.scss';
@import 'media-queries';

:host {
  background-position: 0 80px;
  float: left;
  width: 100%;
  section {
    position: relative;
    &.main-section {
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 180px;
      @media #{$phone} {
        margin-top: 0px;
        padding: 0;
        background-size: cover;
      }

      .bg {
        position: absolute;
        width: calc(100vw + 200px);
        left: -160px;
        top: -200px;
        transform: rotate(-5deg);
        transform-origin: left top;
        border-radius: 80px;
        overflow: hidden;
        background-color: #f44336;
        height: 620px;
        .gradient {
          background: linear-gradient(rgba(26, 185, 155, 0.3), rgba(26, 185, 155, 0.5));
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 100;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: rotate(5deg);
          transform-origin: left top;
        }
      }

      .container,
      .container-fluid {
        min-height: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-bottom: 100px;
        @media #{$phone} {
          min-height: 100%;
          padding: 40px 40px 70px;
        }
        .panel {
          padding: 10px 20px;
          position: relative;
          overflow: hidden;
          animation-name: panelAnimation;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-fill-mode: backwards;
          @keyframes panelAnimation {
            from {
              transform: translateY(30px);
              opacity: 0;
            }

            to {
              transform: translateY(0px);
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 240px;
            object-fit: cover;
          }
          > div {
            padding: 20px;
          }
          h3 {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #fff;
          }
          p {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
          }
          .btn {
            width: calc(100% - 40px);
            margin: 20px;
            position: absolute;
            top: 150px;
            padding: 10px;
          }
          .details {
            padding-top: 10px;
            cursor: pointer;
            color: #1ab99b;
            font-weight: 500;
            &:hover {
              color: #32325d;
            }
            i {
              font-size: 11px;
              margin-left: 10px;
            }
          }
        }

        .swipe {
          display: none;
          position: absolute;
          bottom: 20px;
          right: 20px;

          @media #{$phone} {
            //display: block;
            bottom: 20px;
            left: 20px;
            right: auto;
          }

          .swipe1 {
            height: 40px;
            position: absolute;
            animation: swipeAnimation 0.5s ease-in-out infinite;
            animation-direction: alternate;
          }

          .swipe2 {
            height: 40px;
          }
        }
      }
    }
  }
  .slogan {
    //margin-bottom: 120px;
    h2 {
      color: #32325d;
      font-weight: 500;
      line-height: 50px;
      margin: 25px 0 18px;
      text-align: center;
    }
    p {
      color: #424770;
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      text-align: center;
    }
  }

  .features {
    margin-bottom: 220px;
    .col-3,
    .col-4 {
      padding: 0 50px 70px;
      i {
        background: #1ab99b;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 100%;
        margin-bottom: 16px;
      }
      h3 {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #32325d;
      }
      p {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #525f7f;
      }
    }
  }

  .key-features {
    margin-bottom: 240px;
    h2 {
      margin-bottom: 80px;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 320px;
    }
    .feature {
      padding: 0 50px 20px 100px;
      position: relative;
      height: 190px;
      i {
        background: #1ab99b;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 100%;
        margin-bottom: 16px;
        position: absolute;
        left: 0;
        top: 0;
      }
      h3 {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #32325d;
      }
      p {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        color: #525f7f;
      }
    }
    .bg {
      background-position: top center;
      background-size: cover;
      background-color: #f3f5f9;
      height: 1100px;
      position: absolute;
      width: 200%;
      z-index: -1;
      left: -50%;
      top: -120px;
      transform: rotate(8deg);
    }
  }

  .gallery {
    margin-bottom: 120px;
    .title {
      height: 150px;
      i {
        background: #1ab99b;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 100%;
        margin-bottom: 16px;
      }
      h3 {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #32325d;
      }
    }

    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
      margin-bottom: 30px;
      &.tall {
        height: 600px;
      }
      &.medium {
        height: 450px;
      }
    }
  }
}
