<dixper-nav-bar-vfx *ngIf="!_hiddenNavbar" [ligthNavbar]="_ligthNavbar"></dixper-nav-bar-vfx>

<dixper-toast-container></dixper-toast-container>

<div class="main" [class.hiddenNavbar]="_hiddenNavbar" [class.minimal]="_minimalFooter"><router-outlet></router-outlet></div>

<dixper-footer [minimal]="_minimalFooter" *ngIf="!_hiddenFooter"></dixper-footer>

<div class="bg" [class.home]="_ligthNavbar"></div>

<div class="cookies-wrapper" *ngIf="_cookies">
  <div class="container">
    <span [innerHTML]="'@@Layout@@Cookies' | translate"></span>
    <div class="btn btn-primary" (click)="closeCookies()">{{ '@@Layout@@Accept' | translate }}</div>
  </div>
</div>
