@import 'colors.scss';
@import 'media-queries';

:host {
  overflow-x: hidden;
  float: left;
  width: 100%;
  position: relative;

  .cookies-wrapper {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100px;
    background: #1f1f1f;
    top: 0;
    color: #fff;

    @media #{$phone} {
      padding: 20px 0;
      height: auto;

      .container {
        flex-flow: column;

        .btn {
          width: 100%;
          margin: 20px 0 0 !important;
          justify-content: center;
        }
      }
    }

    .container {
      display: flex;
      align-items: center;
      height: 100%;

      .btn {
        margin-left: 20px;
      }
    }
  }

  .main {
    float: left;
    width: 100%;
    padding-top: 60px;
    min-height: calc(100vh - 40px);

    //background: $bg-terciary;
    //background: url(/assets/landing/bg2.png);
    //background-color: #060400;
    //background: #000000;
    &.hiddenNavbar {
      padding-top: 0 !important;
    }
  }

  .bg {
    // linear-gradient(18deg, $gradient-primary 40%, $gradient-secondary),
    //background: linear-gradient(transparent 0%, $bg-terciary 100%), url(/assets/bg.png);
    //background: linear-gradient(transparent -200%, #19191f 100%), url(/assets/bg.png);
    /* background-position: top center;
    background-size: cover;
    background-color: $bg-secondary;
    height: 100vh;
    position: absolute;
    width: 100%; // z-index: -1; //filter: blur(8px); */
    background-position: top center;
    background-size: cover;
    background-color: #f3f5f9;
    height: 1000px;
    position: absolute;
    width: 200%;
    z-index: -1;
    left: -50%;
    top: -200px;
    transform: rotate(10deg);
    &.home {
      height: 1200px;
      width: 200%;
      top: 300px;
      display: none;
    }
  }

  .discordd {
    position: fixed;
    height: 60px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c2f33;
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    transition: 0.25s;
    color: #fff !important;
    text-decoration: none !important;
    animation-fill-mode: forwards;
    animation-name: DiscordInitialAnimation;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
    background: #3b3e44;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;

    &:hover {
      transform: translateX(220px);
      box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.4);
    }

    img {
      height: 100%;
      background: #7289da; //background: #ff8700;
      width: 65px;
      object-fit: contain;
      padding: 4px;
    }

    .discord-body {
      padding: 10px 15px;

      h6 {
        padding: 0 !important;
      }

      p {
        font-size: 11px;
        margin: 0;
        opacity: 0.6;
      }
    }
  }

  .social {
    position: fixed;
    z-index: 100;
    left: 20px;
    cursor: pointer;
    transition: 0.2s;
    //background: #060400;
    border-radius: 5px;
    padding: 6px;

    @media #{$phone} {
      display: none;
    }

    &:hover {
      transform: scale(1.3);
    }

    img {
      height: 35px;
      width: 35px;
      object-fit: contain;
    }

    &.facebook {
      bottom: 70px;
    }

    &.twitter {
      bottom: 170px;
    }

    &.discord {
      bottom: 120px;
    }

    &.linkedin {
      bottom: 20px;
    }
  }
}

@keyframes DiscordInitialAnimation {
  from {
    opacity: 0;
    left: -240px;
  }

  to {
    opacity: 1; // left: 10px;
    left: -200px;
  }
}
