<div class="modal">
  <div [hidden]="_state !== 'open'" [@modalBgAnimation]='_state' (click)="close()" class="modal-bg"></div>
  <div [hidden]="_state !== 'open'" [@modalMenuAnimation]='_state' class="modal-dialog" role="document" [style.height]="height + 'px'"
    [style.width]="width + 'px'" [style.top]="'calc(50vh - ' + height / 2 + 'px)'" [style.left]="'calc(50vw - ' + width / 2 + 'px)'">
    <div class="modal-content" [style.background]="bg">
      <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body" [style.padding]="padding + 'px'">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
