@import 'colors.scss';
:host {
  z-index: 1000000000000;
  position: relative;
  .modal {
    .modal-bg {
      opacity: 0;
    }
    .modal-body {
      display: flex;
      height: 100%;
    }
    .modal-dialog {
      opacity: 0;
      /* left: calc(50vw - 300px);
      top: calc(50vh - 160px);
      height: 320px;
      width: 600px; */
      height: auto !important;
      max-width: 2000px;
      h2 {
        text-align: center;
        font-size: 22px;
        margin: 10px;
      }
      h5 {
        font-size: 14px;
        opacity: 0.6;
        margin: 10px 10px 40px;
        text-align: center;
      }
    }
  }
}
