<div class="banner">
  Maverick CAD
  <!-- <div class="btn btn-primary">Download</div> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-12" style="padding: 0 45px;">
      <ul class="menu">
        <li routerLinkActive="active" routerLink="how-it-works">@@Product@@HowItWorks</li>
        <li routerLinkActive="active" routerLink="features">@@Product@@Features</li>
        <li routerLinkActive="active" routerLink="system-requirements">@@Product@@Requirements</li>
        <li class="divider"></li>
        <!-- class="btn btn-primary" -->
        <li routerLinkActive="active" routerLink="download">@@Product@@Download</li>
      </ul>
    </div>
    <div class="col-12"><router-outlet></router-outlet></div>
  </div>
</div>
