@import 'colors.scss';
@import 'media-queries';

:host {
  float: left;
  width: 100%;
  position: relative;
  .banner {
    width: 100%;
    // border-radius: 8px;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
    background: linear-gradient(rgba(26, 185, 155, 0.3), rgba(26, 185, 155, 0.5)), url('/assets/image1.jpg');
    background-position: center;
    background-size: cover;
    margin-top: -150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    color: #fff;
    font-size: 40px;
    padding-top: 60px;
    .btn {
      margin-top: 10px;
    }
  }
  .menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
    border-bottom: 2px solid #f3f5f9;
    margin-bottom: 40px;
    padding-bottom: 1px;
    align-items: center;
    font-weight: 500;

    li {
      padding: 20px;
      position: relative;
      cursor: pointer;
      outline: 0;
      &.active {
        &:after {
          content: ' ';
          position: absolute;
          height: 6px;
          width: 80px;
          left: calc(50% - 40px);
          background: #1ab99b;
          border-radius: 50px;
          bottom: -5px;
        }
      }
      &.divider {
        border-radius: 4px;
        height: 36px;
        background: rgba(0, 0, 0, 0.15);
        width: 4px;
        margin: 0 16px;
        padding: 2px;
      }
      &.btn {
        padding: 0 20px;
        height: 40px;
        display: flex;
        align-items: center;
      }
    }
  }
}
