<div class="navbar navbar-expand-lg navbar-light bg-light" [class.ligthNavbar]="ligthNavbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"> <img src="/assets/logoMinColor.png" alt="" /> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home" translate> @@NavBar@@Home </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="download" translate> @@NavBar@@Features </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="gallery" translate> @@NavBar@@Gallery </a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" translate target="blank" href="https://maverickrender.atlassian.net/wiki/spaces/MF3/pages/1277964/Features+list">
            @@NavBar@@Resources
          </a>
        </li>
      </ul>

      <div class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="download" translate> @@NavBar@@Try </a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="buy" translate> @@NavBar@@Buy </a></li>
          <li *ngIf="(!user || (user && !user?.name)) && userLoaded" class="nav-item" style="">
            <!--
              <a href="https://twitter.com/Dixper_ES" target="blank" *ngIf="!_hiddenDiscord" class="social twitter">



                <img src="/assets/landing/twitter2.png" alt="">




              </a>




              <a href="https://discord.gg/JVxFJG8" target="blank" *ngIf="!_hiddenDiscord" class="social discord">




                <img src="/assets/landing/discord2.png" alt="">




              </a>




              <a href="https://www.facebook.com/Dixper-279378139530512" target="blank" *ngIf="!_hiddenDiscord" class="social facebook">




                <img src="/assets/landing/facebook2.png" alt="">




              </a>
            -->
            <a class=" btn btn-primary join-beta" routerLink="/login" style=""> <span style="color:#fff;" translate>@@NavBar@@Login</span> </a>
          </li>
          <li class="nav-item user-item" *ngIf="user && user?.name">
            <!--
              <a href="https://twitter.com/Dixper_ES" target="blank" *ngIf="!_hiddenDiscord" class="social twitter">



                <img src="/assets/landing/twitter2.png" alt="">




              </a>




              <a href="https://discord.gg/JVxFJG8" target="blank" *ngIf="!_hiddenDiscord" class="social discord">




                <img src="/assets/landing/discord2.png" alt="">




              </a>




              <a href="https://www.facebook.com/Dixper-279378139530512" target="blank" *ngIf="!_hiddenDiscord" class="social facebook">




                <img src="/assets/landing/facebook2.png" alt="">




              </a>
            -->
            <dixper-user-menu></dixper-user-menu>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
