<section class="main-section">
  <!-- <video #videoBg class="bg" loop muted></video> -->
  <div class="container">
    <div class="row">
      <div class="desc col-12">
        <div class="row">
          <div class="col-12">
            <h2 class=" text-center text-md-right" [innerHTML]="'@@Download@@Title' | translate"></h2>
          </div>
          <div class="col-12 d-flex flex-column  align-items-center align-items-md-start">
            <maverick-download-button style="margin-top: 10px;">
            </maverick-download-button>
            <small [innerHTML]="'@@Download@@Terms' | translate"></small>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
