<dixper-nav-bar></dixper-nav-bar>
<section class="main-section">
  <div class="bg">
    <div class="gradient"></div>
    <img src="assets/image1.jpg" alt="" />
  </div>

  <!-- <video #videoBg class="bg" loop muted></video> -->
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-6">
        <div routerLink="/vfx" class="panel" style="animation-delay: .25s;">
          <img src="assets/image1.jpg" alt="" />
          <div class="d-none d-md-flex flex-column ">
            <h3 translate>@@Landing@@VFX</h3>
            <p translate>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident magni expedita, libero iste cum velit possimus corporis dolore</p>
          </div>
          <div class="details d-none d-md-flex flex-column-reverse flex-sm-row justify-content-end align-items-center">
            more details<i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div routerLink="/cad" class="panel" style="animation-delay: .75s;">
          <img src="assets/image1.jpg" alt="" />
          <div class="d-none d-md-flex flex-column ">
            <h3 translate>@@Landing@@CAD</h3>
            <p translate>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident magni expedita, libero iste cum velit possimus corporis dolore</p>
          </div>
          <div class="details d-none d-md-flex flex-column-reverse flex-sm-row justify-content-end align-items-center">
            more details<i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
