<a (click)="toggleMenu()" class="nav-link">
  <span *ngIf="user?.name">{{ user.name }}</span> <span routerLink="login" *ngIf="!user?.name" style="opacity:.4">{{ '@@NavBar@@NoName' | translate }}</span>
  <i class="fas fa-caret-down"></i>
</a>
<div [@userMenuAnimation]="userMenuActive" class="user-menu">
  <ul>
    <li routerLink="settings" (click)="toggleMenu()"><i class="fas fa-cog"></i> {{ '@@NavBar@@Settings' | translate }}</li>
    <li (click)="logout()"><i class="fas fa-power-off"></i> {{ '@@NavBar@@SignOut' | translate }}</li>
  </ul>
</div>
