@import 'colors.scss';
@import 'media-queries';

:host {
  position: relative;

  @media #{$phone} {
    justify-content: flex-end;
  }

  a {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    font-weight: bold;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: 28px;
    padding-left: 5px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    img {
      height: 40px;
      width: 40px; //flex: 1;
    }

    span {
      padding: 6px 20px 6px 10px;
      flex: 1;
      text-align: right;
      font-weight: bold;
    }

    i {
      position: absolute;
      right: 10px;
    }

    &:hover {
      color: $text-primary;
    }

    @media #{$phone} {
      width: auto;
      padding-right: 10px;

      span {
        display: none;
      }

      img {
        margin-right: 0px;
      }
    }
  }

  .user-menu-bg {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0; // animation: userBgAnimation 0.5s;
  }

  @keyframes userMenuAnimation {
    from {
      transform: scaleY(-1);
    }

    to {
      transform: scaleY(0);
    }
  }

  .user-menu {
    position: absolute;
    top: 0px;
    padding: 60px 0 0;
    width: 218px;
    background: #302e32; //border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 0 0 2px 2px;
    right: -100px;
    z-index: 2; // animation: userMenuAnimation 0.25s;
    transform-origin: top;
    width: 250px;
    background: #2c2f33;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 10px 5px;
    top: 15px;
    list-style: none;
    display: flex;
    flex-flow: column;

    &:before {
      content: ' ';
      width: 15px;
      height: 15px;
      position: absolute;
      background: #fff;
      top: -5px;
      transform: rotateZ(45deg);
      border-radius: 3px;
      right: 40px;
      z-index: -1;
    }

    @media #{$phone} {
      width: 100vh;
      left: 0px;
      position: fixed;
      border-top: none;
      border-right: none;
      border-left: none;
      border-image: initial;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 0px;
      opacity: 1;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 10px 15px;
        cursor: pointer;
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        transition: 0.25s;
        color: $text-dark-primary;
        height: 42px;
        margin: 0;
        display: flex;

        &:last-of-type {
          // padding-bottom: 0;
        }

        &:hover {
          color: $text-dark-primary;
        }

        i {
          // color: $primary;
          margin-right: 15px;
          height: 20px;
          width: 20px;
          opacity: 0.6;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @keyframes userBgAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
