<a class="btn btn-primary btn-download" style="text-transform: uppercase;" [href]="_downloadLink?.url" (click)="downloadServer()">
  <img src="/assets/landing/os-windows8-32.png" alt="">
  <span>
    <span>{{'@@RoomList@@DownloadButton' | translate}}</span>
    <small>v.{{_downloadLink?.versionString}} for Windows 8 / 10 </small>
  </span>
</a>
