@import 'colors.scss';
@import 'media-queries';

:host {
  .btn-download {
    text-transform: uppercase;
    //height: 46px;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px 30px 3px 15px;
    display: flex !important;
    flex-flow: row;
    img {
      height: 25px;
      margin-right: 10px;
    }
    > span {
      display: flex;
      align-items: flex-start;
      flex-flow: column;
      small {
        letter-spacing: 0.5px;
        text-transform: initial;
      }
    }
  }
}
