<div class="container">
  <div class="row flex-md-row flex-column-reverse" *ngIf="userLoaded">
    <div class="col-12 offset-0 offset-md-4 col-md-4 login-container" *ngIf="!user && userLoaded && userModel.platform !== 'password'">
      <img routerLink="/home" alt="" src="/assets/logo.png" style="width: 300px;margin-bottom: 20px;margin-top: -10px;" />
      <div class="form-group">
        <h6>{{ '@@Login@@Email' | translate }}</h6>
        <input [(ngModel)]="userToLogin.email" type="email" class="form-control" placeholder="email" />
      </div>
      <div class="form-group">
        <h6>
          {{ '@@Login@@Password' | translate }}
          <small (click)="forgotPasswordModal.open()" style="cursor:pointer; margin-left: 5px; color: #ff4d36;" translate>@@Login@@Forgot?</small>
        </h6>
        <input [(ngModel)]="userToLogin.password" type="password" class="form-control" placeholder="pasword" />
      </div>

      <h6 class="error" *ngIf="loginErrors" style="padding:0;">{{ loginErrors }}</h6>

      <button class="btn btn-primary btn-login" (click)="login('password', userToLogin)">{{ '@@Login@@loginEmail' | translate }}</button>

      <small class="sign-up" (click)="selectLogin('password'); loginErrors = null">
        <a>
          <span>{{ '@@Login@@NeedAccount' | translate }}</span> <b>{{ '@@Login@@Register' | translate }}</b>
        </a>
      </small>
    </div>
    <form
      class="col-12 offset-0 offset-md-3 col-md-6 login-container"
      #signUpForm="ngForm"
      *ngIf="(user && !user?.name && userLoaded) || userModel.platform === 'password'"
    >
      <img routerLink="/home alt="" src="/assets/logo.png" style="width: 300px;margin-bottom: -10px;margin-top: -10px;" />

      <div class="form-group">
        <ul class="avatar-list">
          <li (click)="userModel.img = avatar" *ngFor="let avatar of avatarList">
            <div class="avatar" [class.active]="userModel.img === avatar"><img [src]="avatar" alt="" /></div>
          </li>
        </ul>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-7">
            <label for="exampleInputEmail1">{{ '@@Login@@Nick' | translate }}</label>
            <input [(ngModel)]="userModel.name" type="text" class="form-control" [placeholder]="'@@Login@@Nick' | translate" required name="nick" />
          </div>
          <div class="col-5">
            <label for="exampleInputEmail1">{{ '@@Login@@Country' | translate }}</label>
            <ng-select
              bindLabel="label"
              bindValue="id"
              [items]="languageModel"
              [(ngModel)]="userModel.country"
              [placeholder]="'@@Login@@Country' | translate"
              required
              name="country"
            ></ng-select>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="userModel.platform === 'password'">
        <label for="exampleInputEmail1">{{ '@@Login@@Email' | translate }}</label>
        <input
          *ngIf="userModel.platform === 'password'"
          [(ngModel)]="userModel.email"
          type="email"
          class="form-control"
          [placeholder]="'@@Login@@Email' | translate"
          required
          name="email"
        />
        <input
          *ngIf="userModel.platform !== 'password'"
          [ngModel]="user.email"
          type="email"
          disabled
          class="form-control"
          style="opacity: .8;"
          required
          name="email"
        />
      </div>

      <div class="form-group" *ngIf="userModel.platform === 'password'">
        <label for="exampleInputEmail1">{{ '@@Login@@Password' | translate }}</label>
        <input [(ngModel)]="userToLogin.password" type="password" class="form-control" placeholder="Password" required name="password" />
      </div>

      <!--
        <div class="form-group">
          <label for="exampleInputEmail1">{{ '@@Login@@ReferralCode' | translate }}</label>
          <input [(ngModel)]="_referralCode" (change)="checkReferralCode($event)" type="text" class="form-control" [placeholder]="'@@Login@@ReferralCode' | translate"
            required name="referralCode">
          <small style="margin-top: 15px;float: left;" [innerHTML]="'@@Login@@ReferralCodeAlert' | translate"></small>
        </div>
      -->

      <div class="form-group"><small style="margin-top: 15px;float: left;" [innerHTML]="'@@Login@@Accept' | translate"></small></div>

      <div class="error" *ngIf="loginErrors">{{ loginErrors }}</div>

      <!-- <re-captcha theme="dark" (resolved)="resolved($event)" siteKey="6LflQXQUAAAAAAVmHBxtGacp1kge4pUTFBGkSRsp"></re-captcha> -->

      <!-- <div class="divider"></div> -->

      <div style="display: flex;justify-content: flex-end;width: 100%;">
        <button style="margin-right: 20px" (click)="clearLogin()" class="btn btn-clear btn-login">{{ '@@Login@@Cancel' | translate }}</button>
        <button
          [class.disabled]="!signUpForm.valid || !_captcha"
          type="submit"
          (click)="signUpForm.valid && createUser(userModel.platform)"
          class="btn btn-primary btn-login"
        >
          {{ '@@Login@@Next' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<dixper-footer [minimal]="true"></dixper-footer>

<dixper-modal #forgotPasswordModal>
  <div class=" row ">
    <div class="col-12 "><h4 style="margin-bottom:20px" translate>@@Login@@Forgot?Desc</h4></div>
    <div class="col-8">
      <input
        [(ngModel)]="_forgotEmail"
        style="color:#333!important;box-shadow:none; height: 50px;border: 2px solid #ff4d36!important; padding: 3px 10px; border-radius: 5px;"
        class="form-control"
        type="email"
        placeholder="Email"
      />
    </div>
    <div class=" col-4 btn-container">
      <div class=" btn btn-primary " style="padding: 0;" (click)="forgotPassword(_forgotEmail)" translate>@@Login@@Forgot?Btn</div>
    </div>
  </div>
</dixper-modal>
