@import 'colors.scss';
@import 'media-queries';

:host {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: #ff0f50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 200px;
  /deep/dixper-footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .error {
    padding: 15px !important;
    margin: 0;
    border-radius: 4px;
    background: #27292d;
    text-transform: capitalize;
    font-size: 14px;
  }
  .login-container {
    z-index: 10;
    border-radius: 3px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 25px rgba(0, 0, 0, 0.07);
    padding: 30px;
    animation-name: panelAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    @media #{$phone} {
      margin-top: 0;
    }
    @keyframes panelAnimation {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    .divider {
      border-bottom: solid 1px rgba(255, 255, 255, 0.15);
      margin: 30px 0 20px;
      float: left;
      width: 100%;
    }
    .login-providers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 120px;
        border: none !important;
        font-weight: bold;
        font-size: 12px;
        @media #{$phone} {
          height: 70px;
          i {
            margin: 0 !important;
          }
          span {
            display: none;
          }
        }
        i {
          margin: 0 0 15px;
          font-size: 30px;
        }
        &.facebook {
          background: #3b5998 !important;
          &:hover {
            background: #324c82 !important;
          }
        }
        &.twitter {
          background: #1ca1f2 !important;
          &:hover {
            background: #1a94de !important;
          }
        }
        &.google {
          background: #dd4a39 !important;
          &:hover {
            background: #c54132 !important;
          }
        }
        &.disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
    .btn-login-google {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-weight: bold;
      padding: 10px 40px;
      border-radius: 3px;
      cursor: pointer;
      background: #03a9f4;
      color: #fff;
      transition: 0.25s;
      &:hover {
        transform: translateY(-3px);
      }
    }
    .btn-login {
      margin-top: 20px;
      text-align: center;
      justify-content: center;
      width: 100%;
      @media #{$phone} {
        width: 100%;
        white-space: initial;
        height: 80px;
      }
    }
    .form-group {
      width: 100%;
      label {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #525f7f;
        text-transform: initial;
        letter-spacing: 0.5px;
        margin: 0;
      }
      input {
        width: 100%;
      }
      /deep/ng-select {
        > div {
          border: solid 1px #ced4da !important;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 2px;
          border: none;
          height: 38px;
          height: calc(2.25rem + 2px);
          padding: 0.375rem 0.75rem;
          cursor: pointer;
          color: #495057 !important;
          border-radius: 0.25rem;
          .ng-placeholder {
            color: #6c757d;
          }
          input {
            color: #fff;
          }
        }
        ng-dropdown-panel {
          border: 1px solid #7a7b80 !important;
          background-color: #47494f;
          padding: 10px;
          .ng-option {
            background-color: #47494f;
            color: rgb(255, 255, 255);
          }
        }
        ::-webkit-scrollbar {
          width: 8px !important;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          background: #7a7b80;
          border-radius: 100px;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #fff;
          border-radius: 100px;
        }
      }
    }
    .sign-up {
      font-size: 14px;
      text-align: left;
      a {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 15px;
        display: flex;
        align-items: center;
        span {
          color: #525f7f;
          opacity: 0.8;
        }
        b {
          color: $primary;
          margin-left: 8px;
          color: #525f7f;
          font-weight: bold;
        }
        i {
          color: $primary;
          margin-right: 5px;
          font-size: 18px;
        }
      }
    }
  }
  .loginImg {
    @media #{$phone} {
      display: none !important;
    }
  }
  .avatar-list {
    display: flex;
    align-items: center; // justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0 -10px;
    width: calc(100% + 20px);
    li {
      padding: 5px;
      flex: 1;
      width: 25%;
      > div {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; // border: solid 1px rgba(255, 255, 255, 0.15);
        // background: $bg-terciary;
        border-radius: 4px;
        cursor: pointer;
        transform: scale(0.9);
        transition: 0.15s;
        &.active {
          transform: scale(1);
          background: #ff4c31;
          border-radius: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
