<div class="container">

  <div class="panel">
    <div class="row">
      <div class="col-12 col-md-12" *ngIf="tab === 'profile'">
        <div class="header">
          <div class="content">
            <img src="https://randomuser.me/api/portraits/men/96.jpg" alt="">
            <h4>{{ _userModel.fullname }}</h4>
            <small>{{ _userModel.nickname }}</small>
          </div>
          <button class="btn btn-primary">EDIT PROFILE</button>
        </div>
      </div>
      <div class="col-12 col-md-12 content" *ngIf="tab === 'profile'">
        <div class="col-12">
          <form #userSettingsForm="ngForm" class="content">

            <div class="row">
              <div class="form-group col-md-3 col-12">
                <h6>Nick Name:</h6>
                <input required [(ngModel)]="_userModel.nickname" name="nickname" type="text" class="form-control" placeholder="Enter nickname">
              </div>
              <div class="form-group col-md-4 col-12">
                <h6>Company:</h6>
                <input required [(ngModel)]="_userModel.company" name="company" type="text" class="form-control" placeholder="Enter company">
              </div>
              <div class="form-group col-md-2 col-12">
                <h6>Last Visit:</h6>
                <p>hace: xx min.</p>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-5 col-12">
                <h6>Fullname:</h6>
                <input required [(ngModel)]="_userModel.fullname" name="fullname" type="text" class="form-control" placeholder="Enter fullname">
              </div>
              <div class="form-group col-md-4 col-12">
                <h6>Address:</h6>
                <input required [(ngModel)]="_userModel.address" name="address" type="text" class="form-control" placeholder="Enter valid address">
              </div>
              <div class="form-group col-md-3 col-12">
                <h6>Country:</h6>
                <select name="country" #country="ngModel" class="form-control select" [(ngModel)]="lenguageId">    
                  <option *ngFor="let language of languageModel" [ngValue]="language.id" >
                      {{ language.label }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 col-12">
                <h6>Resellerid:</h6> 
                <p>xxxx-xxxx-xxxx-xxxx-xx</p>
              </div>
              <div class="form-group col-md-6 col-12">
                <h6>URL Download:</h6>
                <a [innerHTML]="urlPage"></a>
              </div>
            </div>

            <h3> NOTES: </h3>
            <div id="Dixper-developer-program" class="Box Box-body clearfix">
              <p class="mb-0" [innerHTML]="_userModel.notes"></p>
            </div>
            <br>
            <span>
              <input [(ngModel)]="_beta" (change)="updateBetaUser($event)" type="checkbox"> {{'@@UserSettings@@Check' |
              translate}}
            </span>

            <div class="footer" style="margin-top:40px;">
              <button [class.disabled]="!userSettingsForm.valid" type="submit" (click)="saveProfile()" class="float-right btn btn-primary save">
                <i class="fas fa-save"></i>
                <span>
                  {{'@@UserSettings@@Save' | translate}}
                </span>
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="row">
      <div class="col-12 col-md-12" *ngIf="tab === 'profile'">
        <div class="header">
          <h4>
            @@UserSettings@@Products
          </h4>
        </div>
        <div class="content"></div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="row">
      <div class="col-12 col-md-12" *ngIf="tab === 'profile'">
        <div class="header">
          <h4>
            @@UserSettings@@Invoices
          </h4>
        </div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>