@import 'colors.scss';

:host {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
    }

    .content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 0 0 0 70px;
      position: relative;

      h4 {
        margin-top: 5px;
      }

      small {
        font-size: 14px;
        opacity: .5;
        text-transform: uppercase;
        font-weight: bold;
      }

      img {
        height: 55px;
        width: 55px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

    }

    .btn {}
  }

  .account {}

  .security {}

  .left-column {
    background: rgba(0, 0, 0, 0.33);
    min-height: calc(100vh - 200px);
    height: 100%;
    padding: 20px 0;

    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        padding: 6px 20px;
        font-weight: bold;
        letter-spacing: 1px;
        opacity: 0.6;
        cursor: pointer;
        position: relative;

        &.active {
          opacity: 1;
          cursor: pointer;

          &:after {
            content: ' ';
            position: absolute;
            height: 100%;
            width: 4px;
            background: $primary;
            top: 0;
            left: 0;
            border-radius: 0 30px 30px 0;
          }
        }
      }
    }
  }

  .form-group {
    /deep/ng-select {
      >div {
        border: solid 1px rgba(255, 255, 255, 0.25) !important;
        box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.05);
        border-radius: 2px;
        border: none;
        color: #ffffff !important;
        height: 38px;
        cursor: pointer;

        .ng-placeholder {
          color: #6c757d;
        }

        input {
          color: #fff;
        }
      }

      ng-dropdown-panel {
        border: 1px solid #7a7b80 !important;
        background-color: #47494f;
        padding: 10px;

        .ng-option {
          background-color: #47494f;
          color: rgb(255, 255, 255);
        }
      }

      ::-webkit-scrollbar {
        width: 8px !important;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #7a7b80;
        border-radius: 100px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 100px;
      }
    }
  }
}