/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import 'colors.scss';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
  font-family: 'Montserrat', sans-serif;

  .btn-primary {
    border-color: #ff0f50;
    background-color: #ff0f50;
    &:hover {
      border-color: #dc164c;
      background-color: #dc164c;
    }
  }
  a {
    color: #ff0f50;
  }
  .panel {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 25px rgba(0, 0, 0, 0.07);
    .header {
      padding: 20px 20px;
      border-bottom: 2px solid #dc164c;
    }
    .content {
      padding: 20px 20px;
    }
  }
}
