<section class="features">
  <div class="container ">
    <div class="row">
      <!-- <div class="col-12 header"><h2 translate>@@Features@@Features</h2></div> -->
      <div class="col-12 d-flex flex-column align-items-center" style="margin-bottom: 70px">
        <h2>How it works</h2>
        <p class="p2">
          Maverick Studio harnesses our light simulation engine under an easy-to-use interface. Import, assign materials, add lights, render, and amaze your
          audience.
        </p>
        <div class="btn btn-primary">Download demo</div>
      </div>
      <div class="col-6">
        <h3 translate>@@HowItWorks@@Step1</h3>
        <p translate>@@HowItWorks@@Step1P</p>
        <img src="/assets/image1.jpg" alt="" />
      </div>
      <div class="col-6">
        <h3 translate>@@HowItWorks@@Step2</h3>
        <p translate>@@HowItWorks@@Step2P</p>
        <img src="/assets/image1.jpg" alt="" />
      </div>
      <div class="col-6">
        <h3 translate>@@HowItWorks@@Step3</h3>
        <p translate>@@HowItWorks@@Step3P</p>
        <img src="/assets/image1.jpg" alt="" />
      </div>
      <div class="col-6">
        <h3 translate>@@HowItWorks@@Step4</h3>
        <p translate>@@HowItWorks@@Step4P</p>
        <img src="/assets/image1.jpg" alt="" />
      </div>
      <div class="col-12">
        <h3 translate>@@HowItWorks@@Step5</h3>
        <p translate>@@HowItWorks@@Step5P</p>
        <img src="/assets/image1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
