@import 'colors.scss';
@import 'media-queries';

:host {
  background-position: 0 80px;
  float: left;
  width: 100%;

  .header {
    padding: 0 30px 30px;
  }
  .features {
    padding: 0 30px;
    .col-6 {
      padding: 0 30px;
    }
    .col-12 {
      padding: 0 30px;
    }
    h2 {
      color: #32325d;
      font-weight: 500;
      line-height: 50px;
      margin: 25px 0 18px;
      text-align: center;
    }
    .p2 {
      font-weight: 400;
      font-size: 17px;
      line-height: 28px;
      text-align: center;
    }
    img {
      width: 100%;
      margin-bottom: 80px;
      border-radius: 5px;
      height: 200px;
      object-fit: cover;
    }
    h3 {
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 19px;
      line-height: 28px;
      color: #32325d;
    }
    b {
      font-size: 17px;
      line-height: 28px;
      color: #525f7f;
      font-weight: bold;
    }
    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 28px;
      color: #525f7f;
      margin-bottom: 20px;
    }
  }
}
