<div class="navbar navbar-expand-lg navbar-light bg-light" [class.ligthNavbar]="ligthNavbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"> <img src="/assets/logoMinColor.png" alt="" /> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/home" translate> @@NavBar@@Home </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/product" translate> @@NavBar@@Product </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/gallery" translate> @@NavBar@@Gallery </a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/jobs" translate> @@NavBar@@Jobs </a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" translate target="blank" href="https://maverickrender.atlassian.net/wiki/spaces/MF3/pages/1277964/Features+list">
            @@NavBar@@Resources
          </a>
        </li>
      </ul>
      <div class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/download" translate> @@NavBar@@Try </a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cad/product/download" translate> @@NavBar@@Buy </a></li>
          <li *ngIf="(!user || (user && !user?.name)) && userLoaded" class="nav-item" style="">
            <a class=" btn btn-primary join-beta" routerLink="/login" style=""> <span style="color:#fff;" translate>@@NavBar@@Login</span> </a>
          </li>
          <li class="nav-item user-item" *ngIf="user && user?.name"><dixper-user-menu></dixper-user-menu></li>
        </ul>
      </div>
    </div>
  </div>
</div>
