@import 'colors.scss';
@import 'media-queries';

:host {
  .navbar {
    background-color: #f3f5f9 !important;
    border-bottom: 2px solid #fff;
    z-index: 100;
    &.ligthNavbar {
      background-color: transparent !important;
      border-bottom: 2px solid transparent;
      .nav-link {
        color: rgb(255, 255, 255);
      }
      .btn-primary {
        border: 2px solid #ffffff;
        background-color: transparent;
      }
    }
    .nav-link {
      font-weight: 500;
      height: 40px;
    }
    .btn-primary {
      padding: 6px 25px;
      margin-left: 20px;
    }
  }

  .navbar-brand {
    img {
      border-radius: 4px;
      height: 40px;
    }
  }

  .social {
    z-index: 100;
    left: 20px;
    cursor: pointer;
    transition: 0.2s;
    //background: #060400;
    border-radius: 5px;
    margin-right: 8px;
    padding: 15px 10px 15px 0 !important;
    @media #{$phone} {
      display: none !important;
    }

    &:hover {
      transform: scale(1.3);
    }

    img {
      height: 24px !important;
      width: 24px !important;
      object-fit: contain;
    }
  }
}

@keyframes userMenuAnimation {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes userBgAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
